name: Build Project

on:
  push:
    branches: [master, develop]
    tags-ignore:
      - "*"
  pull_request:
    branches: [master, develop]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]

    steps:
      - uses: actions/checkout@v2
      - name: Install latest stable
        id: toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
      - uses: Swatinem/rust-cache@v1
        with:
          key: ${{ steps.toolchain.outputs.rustc }}-${{ steps.toolchain.outputs.rustc_hash }}-${{ matrix.os }}-${{ hashFiles('Cargo.lock') }}
      - name: Build projects with all features
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --release --all-features --locked
      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        with:
          name: ${{ matrix.os }}
          path: |
            target/release/aer
            target/release/aer-ver
            target/release/aer-web
            target/release/*.bin
            target/release/*.exe
      - name: Test projects with all features
        if: ${{ runner.os != 'Windows' }} # Can't get powershell runner to work, due to execution policies
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --release --all-features --locked
  coverage:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest]

    steps:
      - uses: actions/checkout@v2
      - name: Install latest nightly
        id: toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly
          override: true
          components: llvm-tools-preview
      - uses: Swatinem/rust-cache@v1
        with:
          key: ${{ steps.toolchain.outputs.rustc }}-${{ steps.toolchain.outputs.rustc_hash }}-${{ matrix.os }}-${{ hashFiles('Cargo.lock') }}
      - name: Run unit tests with coverage report
        uses: Swatinem/fucov@v1
      - name: Upload coverage report
        uses: codecov/codecov-action@v1
        with:
          directory: coverage
